<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-autowire="byName">
       
    <!--Service 业务-->
    
    <bean id="brandXdSearchService" class="com.starrymedia.xd.search.service.impl.BrandXdSearchServiceImpl"/>
    
    <bean id="goodsXdSearchService" class="com.starrymedia.xd.search.service.impl.GoodsXdSearchServiceImpl"/>
    
    <bean id="shopXdSearchService" class="com.starrymedia.xd.search.service.impl.ShopXdSearchServiceImpl"/>
    	
    
</beans>